.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 0;
  width: 100%;
}

.featureSvg {
  justify-content: center;
  height: 260px;

}

center-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}